body {
  font-family: arial;
  background-image: url("./images/american-flag-dark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

.county:hover {
  fill: white;
  stroke: #646464;
  stroke-width: 2px;
}
